PSG_DB_USER=postgres
PSG_DB_PASSWORD=postgres
PSG_DB_NAME=contacts
PSG_DB_DOMAIN=db # if FastAPI is in a container, then localhost is the app container itself, not the PostgreSQL container.
PSG_DB_PORT=5432

PSG_DB_URL=postgresql+asyncpg://${PSG_DB_USER}:${PSG_DB_PASSWORD}@${PSG_DB_DOMAIN}:${PSG_DB_PORT}/${PSG_DB_NAME}

SECRET_KEY=replace_with_random_secret_key
HASH_ALGORITHM=HS256

# using https://mailtrap.io/
MAIL_USERNAME=mailUsername,
MAIL_PASSWORD=secretPassword,
MAIL_FROM=test@example.com
MAIL_PORT=2525,
MAIL_SERVER=sandbox.smtp.mailtrap.io,

REDIS_DOMAIN=
REDIS_PORT=6379
REDIS_PASSWORD=

CLOUDINARY_NAME=cloud_name
CLOUDINARY_API_KEY=12345678
CLOUDINARY_API_SECRET=api_secret